.WishItem-title {
  font-size: 1.3em;
  text-decoration: none;
  color: #434343;
}

.WishItem-priority-container {
  float: right;
  text-align: center;
  margin-left: 10px;
}

.WishItem-priority-word {
  font-size: 0.7em;
}

.WishItem-priority {
  font-size: 2.3em;
}

.WishItem-price {
  min-height: 15px;
}

.WishItem-link:hover {
  text-decoration: none;
}

.WishItem-button {
  color: #ffffff;
  background: #9ea7ac;
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
}

.WishItem-button:hover {
  background: #337ab8;
}

.WishItem-btn-group {
  text-align: right;
  padding-bottom: 5px;
}
