.WishItem-row {
  margin-top: 15px;
}

.WishItem-title {
  font-size: 1.3em;
  text-decoration: none;
  color: #434343;
}

.WishItem-priority-container {
  float: right;
  text-align: center;
  margin-left: 10px;
}

.WishItem-priority-word {
  font-size: 0.7em;
}

.WishItem-priority {
  font-size: 2.3em;
}

.WishItem-price {
  min-height: 15px;
}

.WishItem-btn-group {
  text-align: right;
}
