.UserHeading-row {
  height: 125px;
  padding: 20px 0;
  cursor: pointer;
  transition: .4s;
}

.UserHeading-img-col {
  text-align: right;
}

.UserHeading-name-col {
  height: 100%;
  text-align: left;
}

.UserHeading-name-col div {
  font-size: 2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
