/*
from https://davidwalsh.name/css-flip
*/

/* entire container, keeps perspective */
.FlipperContainer-outer {
	perspective: 1000px;
}

/* flip the pane with flipped class applied */
.FlipperContainer-outer.flip-right .FlipperContainer-flipper {
	transform: rotateY(180deg);
}

.FlipperContainer-outer.flip-left .FlipperContainer-flipper {
	transform: rotateY(-180deg);
}

/* flip speed goes here */
.FlipperContainer-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.FlipperFront, .FlipperBack {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.FlipperFront {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.FlipperBack-right {
	transform: rotateY(180deg);
}

.FlipperBack-left {
	transform: rotateY(-180deg);
}
