.Nav-wrapper {
  background: #383838;
}

.Nav-container {
  max-width: 500px;
}

.Nav-main {
  height: 50px;
}

.Nav-main > div {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.Nav-main > div:hover {
  color: rgba(255, 255, 255, 0.9);
}

.Nav-menu {
  padding-bottom: 5px;
}

.Nav-menu > div {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 5px auto;
  transition: 0.2s;
}

.Nav-menu > div:hover {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}

.Nav-col.center img {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #f88379;
}
