.Nav-wrapper {
  background: #3de2ff;
}

.Nav-col, .Nav-col div {
  height: 100%;
  font-size: 30px;
}

.Nav-col > div {
  position: relative;
}

.Nav-col span {
  position: absolute;
  top: 50%;
}

.Nav-col.left span, .Nav-col.right span {
  color: rgba(255, 255, 255, .9);
}

.Nav-col.left span {
  transform: translateY(-50%);
}

.Nav-col.right span {
  right: 0;
  transform: translateY(-50%);
}

.Nav-col.center span {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #f88379;
}
